{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Junior Web Developer
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Services</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row Fivedcc">
            <div class="col col-md-12 my-auto">
                <h4 class="display-4 text-center text-black about-display-4">It all started with the Code Institute 5 Day Challenge</h4>
            </div>
        </div>
        <div class="col col-md-8 my-auto offset-2">
            <img src="../media/5dcc.png" class="img-fluid" alt="5DCC cert">
        </div>
        <div class="my-5">
            <h4 class="text-center">
                <a href="https://codeinstitute.net/5-day-coding-challenge/?utm_term=&utm_campaign=&utm_source=adwords&utm_medium=ppc&hsa_net=adwords&hsa_tgt=dsa-564412108988&hsa_ad=306243272841&hsa_acc=8983321581&hsa_grp=53978589537&hsa_mt=b&hsa_cam=1421820850&hsa_kw=&hsa_ver=3&hsa_src=g&gclid=EAIaIQobChMIyPCFoeal7gIVxu7tCh1r4QiVEAAYASAAEgJRyvD_BwE&gclsrc=aw.ds" 
                   class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3" 
                   target="_blank">Find out more</a>
            </h4>
        </div>
    </div>
{% endblock %}
