html {
height: 100%;
}

body {
background-size: cover;
height: calc(100vh - 164px);
color: #555;
font-family: 'Lato';
}

/* from Bulma */
.icon {
align-items: center;
display: inline-flex;
justify-content: center;
height: 1.5rem;
width: 1.5rem;
color: orange;
}

i.fas.fa-question-circle {
    font-size: 20px;
}

.logo-font {
text-transform: uppercase;
color: orange;
}

.navbar-light .navbar-nav .nav-link {
    color: orange;
}

.text-orange{
    color: orange;
}

.main-logo-link {
width: fit-content;
}

.find-out-button {
background: black;
color: white;
min-width: 260px;
}

.find-out-button:hover{
    text-decoration: none;
    color: white;
}

.btn-black {
background: black;

color: white;
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
background: orange;
color: black;
}

.text-black {
color: #000 !important;
}

.border-black {
border: 1px solid black !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, .remove-item {
    cursor: pointer;
}

.row.Fivedcc {
    margin-top: 5px;
}

.fivedcc-img {
    margin-bottom: 10px;
}

/* -------------------------------- Homepage profile image */
img.img-fluid.profile-img {
    display: block;
    height: 50vh;
    float: right;
}

/* -------------------------------- Github */
.center-form.github-repo {
    margin-top: 50px;
}

.githublogo{
    width: 10%;
}

.repo-list {
  display: block;
  clear: both;
  width: 100%;
}

.repo-list ul {
  font-size: 1.2em;
}

.repo-list ul li {
  display: block;
}

.repo-list ul li a {
  font-weight: bold;
  padding: 6px 9px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid orange;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: orange;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcc205ef), to(orange));
  background-image: -webkit-linear-gradient(top, #fcc205ef, orange);
  background-image: -moz-linear-gradient(top, #fcc205ef,orange);
  background-image: -ms-linear-gradient(top, #fcc205ef, orange);
  background-image: -o-linear-gradient(top, #fcc205ef, orange);
  background-image: linear-gradient(top, #fcc205ef, orange);
}

.repo-list ul li a:hover {
  background-color: #fcc205ce;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 160, 15, 0.925)), to(#fcc205ce));
  background-image: -webkit-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: -moz-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: -ms-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: -o-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
}

.repo-list ul li a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.repo-list ul li a span {
  font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid orange;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* arrows scroll-up */
.arrow-up-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

i.fas.fa-arrow-up.mx-auto.my-auto {
    color: orange;
}

.arrow-up-link {
    cursor: pointer;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: orange; /* text-info */
    text-decoration: none;
}

a.btn.btn-light.allauth-a-light {
    color: black;
}


/* -------------------------------- Contact */
.container.container-contact {
    margin-top: 20px;
}

.card.mb-2 {
    border: none;
}

img.card-img-top.contact {
    width: 50%;
}

.col-12.contact-message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-button{
    background-color: orange;
}

.submit-button:hover{
    background-color: black;
    color: orange;
}
/* -------------------------------- Blog */
a.post-title {
    color: black;
    text-decoration: none;
}

a.post-title:hover{
    color:#e3dcca;
}

.post-details-container, .blog-container{
    padding-bottom: 15px;
}

.blog-btn {
    margin-bottom: 10px;
}

.addapost-heading{
    margin-bottom: 20px;
    color: orange;
}

.addapost-heading:hover{
    text-decoration: none;
    color: black;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
.container {
max-width: 80%;
}
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
.fixed-top-desktop-only {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.header-container {
padding-top: 164px;
}
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}
