html {
height: 100%;
}

body {
background-color: orange;
background-size: cover;
height: calc(100vh - 164px);
color: #555;
font-family: 'Lato';
}

/* from Bulma */
.icon {
align-items: center;
display: inline-flex;
justify-content: center;
height: 1.5rem;
width: 1.5rem;
}

i.fas.fa-question-circle {
    font-size: 20px;
}

.logo-font {
text-transform: uppercase;
}

.main-logo-link {
width: fit-content;
}

.find-out-button {
background: black;
color: white;
min-width: 260px;
}

.btn-black {
background: black;

color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
background: #222;
color: white;
}

.text-black {
color: #000 !important;
}

.border-black {
border: 1px solid black !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, .remove-item {
    cursor: pointer;
}

.row.Fivedcc {
    margin-top: 15px;
}

/* -------------------------------- Github */
.center-form.github-repo {
    margin-top: 50px;
}

.repo-list {
  display: block;
  clear: both;
  width: 100%;
}

.repo-list ul {
  font-size: 1.2em;
}

.repo-list ul li {
  display: block;
}

.repo-list ul li a {
  font-weight: bold;
  padding: 6px 9px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid orange;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: orange;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcc205ef), to(orange));
  background-image: -webkit-linear-gradient(top, #fcc205ef, orange);
  background-image: -moz-linear-gradient(top, #fcc205ef,orange);
  background-image: -ms-linear-gradient(top, #fcc205ef, orange);
  background-image: -o-linear-gradient(top, #fcc205ef, orange);
  background-image: linear-gradient(top, #fcc205ef, orange);
}

.repo-list ul li a:hover {
  background-color: #fcc205ce;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 160, 15, 0.925)), to(#fcc205ce));
  background-image: -webkit-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: -moz-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: -ms-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: -o-linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
  background-image: linear-gradient(top, rgba(238, 160, 15, 0.925), #fcc205ce);
}

.repo-list ul li a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.repo-list ul li a span {
  font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

i.fas.fa-arrow-up.mx-auto.my-auto {
    color: #9f9b9d;
}

.arrow-up-link {
    cursor: pointer;
}

/* -------------------------------- Blog */
a.post-title {
    color: black;
    text-decoration: none;
}

a.post-title:hover{
    color:#e3dcca;
}

.post-details-container, .blog-container{
    padding-bottom: 15px;
}

.blog-btn {
    margin-bottom: 10px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
.container {
max-width: 80%;
}
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
.fixed-top-desktop-only {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}


.header-container {
padding-top: 164px;
}
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
