<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="service-link">
                Services
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="about-link">
                About
            </a>
        </li>
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="github-link">
                Github Projects
            </a>
        </li>
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="contact-link">Contact</a>
        </li>
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="blog-link">
                Blog
            </a>
        </li>
    </ul>
</div>
